<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNetCore.Connections.Abstractions" version="5.0.2" targetFramework="net462" />
  <package id="Microsoft.AspNetCore.Http.Features" version="5.0.2" targetFramework="net462" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="5.0.0" targetFramework="net462" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Configuration" version="5.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="5.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="5.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.DependencyInjection" version="5.0.1" targetFramework="net462" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="5.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.DependencyModel" version="5.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="5.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Hosting.Abstractions" version="5.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Logging" version="5.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="5.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Logging.Configuration" version="5.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Logging.Console" version="5.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.ObjectPool" version="5.0.2" targetFramework="net462" />
  <package id="Microsoft.Extensions.Options" version="5.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Options.ConfigurationExtensions" version="5.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Primitives" version="5.0.0" targetFramework="net462" />
  <package id="Microsoft.Orleans.Client" version="3.4.0" targetFramework="net462" />
  <package id="Microsoft.Orleans.Core" version="3.4.0" targetFramework="net462" />
  <package id="Microsoft.Orleans.Core.Abstractions" version="3.4.0" targetFramework="net462" />
  <package id="Microsoft.Orleans.OrleansProviders" version="3.4.0" targetFramework="net462" />
  <package id="Microsoft.Orleans.Runtime.Abstractions" version="3.4.0" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net462" />
  <package id="Orleans.MultiClient.Standard" version="1.0.0" targetFramework="net462" />
  <package id="ServiceStack" version="5.9.2" allowedVersions="[5.9.2]" targetFramework="net462" />
  <package id="ServiceStack.Common" version="3.9.71" allowedVersions="[3.9.71]" targetFramework="net462" />
  <package id="ServiceStack.OrmLite.SqlServer" version="3.9.71" allowedVersions="[3.9.71]" targetFramework="net462" />
  <package id="ServiceStack.Redis" version="3.9.71" allowedVersions="[3.9.71]" targetFramework="net462" />
  <package id="ServiceStack.Text" version="3.9.71" allowedVersions="[3.9.71]" targetFramework="net462" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net462" />
  <package id="System.Collections.Immutable" version="5.0.0" targetFramework="net462" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" targetFramework="net462" />
  <package id="System.Diagnostics.DiagnosticSource" version="5.0.1" targetFramework="net462" />
  <package id="System.IO.Pipelines" version="5.0.1" targetFramework="net462" />
  <package id="System.Memory" version="4.5.4" targetFramework="net462" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net462" />
  <package id="System.Reflection.Emit" version="4.7.0" targetFramework="net462" />
  <package id="System.Reflection.Emit.Lightweight" version="4.7.0" targetFramework="net462" />
  <package id="System.Reflection.Metadata" version="5.0.0" targetFramework="net462" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net462" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net462" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net462" />
  <package id="System.Text.Encodings.Web" version="5.0.0" targetFramework="net462" />
  <package id="System.Text.Json" version="5.0.1" targetFramework="net462" />
  <package id="System.Threading.Channels" version="5.0.0" targetFramework="net462" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net462" />
</packages>